<div class="card-body">
  <h4 class="card-title">Liste des agents de validation</h4>
  <p class="card-description">
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Role</th>
          <th>E-mail</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agentvalidation of agentvalidations">
          <td>{{agentvalidation?.nom}}</td>
          <td>{{agentvalidation?.adresse}}</td>
          <td>{{agentvalidation?.role}}</td>
          <td>{{agentvalidation?.email}}</td>
          <td>
            <button class="btn btn-danger text-white" (click)="supprimer(agentvalidation._id)">
              <i class="fa fa-trash"></i> Supprimer
            </button>
          </td>
        </tr>


      </tbody>

    </table>
  </div>
</div>
