<div class="card-body">
  <h4 class="card-title">Liste des produits publiés </h4>
  <p class="card-description">
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 20%;">Image</th>
          <th style="width: 20%;">Référence</th>
          <th style="width: 20%;">Nom</th>
          <th style="width: 20%;">Quantité disponible</th>
          <th style="width: 20%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products ">
          <td *ngIf="product.producType == 'estamp'">
            <img [src]="product?.estamp?.photo" class="img-product" />
          </td>
          <td *ngIf="product.producType == 'estamp'">
            {{product?.estamp?.reference}}
          </td>
          <td *ngIf="product.producType == 'estamp'">
            {{product?.estamp?.sujet}}
          </td>
          <td *ngIf="product.producType == 'estamp'">
            {{product?.estamp?.QunatityEstampDisponible}}
          </td>
          <td *ngIf="product.producType == 'estamp'">
            <button type="button" (click)="deleteProduct(product?._id)"
              class="btn btn-danger btn-rounded btn-icon mdi mdi-delete-sweep ben-delete text-white">
            </button>
          </td>
        </tr>

        <tr *ngFor="let product of products ">
          <td *ngIf="product.producType == 'efleur'">
            <img [src]="product?.efleur?.photo" class="img-product" />
          </td>
          <td *ngIf="product.producType == 'efleur'">
            {{product?.efleur?.nom}}
          </td>
          <td *ngIf="product.producType == 'efleur'">
            {{product?.efleur?.description}}
          </td>
          <td *ngIf="product.producType == 'efleur'">
            {{product?.efleur?.QunatityEfleurDisponible}}
          </td>
          <td *ngIf="product.producType == 'efleur'">
            <button type="button" (click)="deleteProduct(product?._id)"
              class="btn btn-danger btn-rounded btn-icon mdi mdi-delete-sweep btn-delete text-white">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
