<div class="card-body">
  <h4 class="card-title">Liste des produits en attente de validation</h4>
  <p class="card-description"></p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="item">Image</th>
          <th class="item">Référence</th>
          <th class="item">Sujet</th>
          <th class="item">Quantité</th>
          <th class="item">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- partie des timbres postes : estamps -->
        <tr *ngFor="let estamp of estamps">
          <td>
            <img [src]="estamp.photo" class="img-product" />
          </td>
          <td>{{ estamp?.reference }}</td>
          <td>{{ estamp?.sujet }}</td>
          <td>{{ estamp?.QunatityEstampDisponible }}</td>
          <td>
            <button type="button" class="btn btn-success btn-rounded btn-icon mdi mdi-lead-pencil btn-action text-white"
              [routerLink]="['/home/updateEstamp', estamp._id]">
            </button>
            <button type="button" class="btn btn-info btn-rounded btn-icon mdi mdi-check-all btn-action text-white"
              (click)="validateEstamp(estamp)">
            </button>
            <button type="button" (click)="supprimerEstamps(estamp._id)"
              class="btn btn-danger btn-rounded btn-icon mdi mdi-delete-sweep btn-action text-white">
            </button>
          </td>
        </tr>
        <!-- partie des fleurs de poste : fleurs -->
        <tr *ngFor="let fleur of fleurs" class="bg-white">
          <td>
            <img [src]="fleur?.photo" class="img-product" />
          </td>
          <td>{{ fleur?.nom }}</td>
          <td>{{ fleur?.description }}</td>
          <td>{{ fleur?.QunatityEfleurDisponible }}</td>
          <td>
            <button type="button" class="btn btn-success btn-rounded btn-icon mdi mdi-lead-pencil btn-action text-white"
              [routerLink]="['/home/updateEfleur', fleur._id]">
            </button>
            <button type="button" class="btn btn-info btn-rounded btn-icon mdi mdi-check-all btn-action text-white"
              (click)="validateEfleur(fleur)">
            </button>
            <button type="button" (click)="supprimerEfleur(fleur._id)"
              class="btn btn-danger btn-rounded btn-icon mdi mdi-delete-sweep btn-action text-white">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
