<div class="card-body">
    <h4 class="card-title">Liste des agents </h4>
    <p class="card-description">
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>nom</th>
            <th>adresse</th>
            <th>role</th>
            <th>email</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let agent of agents " >
                <td>{{agent.nom}}</td>
                <td>{{agent.adresse}}</td>
                <td>{{agent.role}}</td>
                <td>{{agent.email}}</td>
                <td><button class="btn btn-danger" (click)="supprimer(agent._id)">supprimer</button></td>
              </tr>
  
  
        </tbody>
  
      </table>
    </div>
  </div>