<div class="card-body">
  <h4 class="card-title">Liste des commandes </h4>
  <p class="card-description">
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="item">Référence</th>
          <th class="item">Nom</th>
          <th class="item">Prix total</th>
          <th class="item">Date</th>
          <th class="item">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes">
          <td>{{commande?._id}}</td>
          <td>{{commande?.user?.nom}}</td>
          <td>{{commande?.subTotal}} DTN</td>
          <td>{{commande?.createdAt | date:'short'}}</td>
          <td>
            <button type="button" (click)="deleteCommande(commande?._id)"
              class="btn btn-danger btn-rounded btn-icon  mdi mdi-delete-sweep text-white btn-action">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
