<div class="card-body">
  <h4 class="card-title">Liste des produits en attente de validation</h4>
  <p class="card-description"></p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 20%">Image</th>
          <th style="width: 20%">Reference</th>
          <th style="width: 20%">sujet</th>
          <th style="width: 20%">Quantite</th>
          <th style="width: 20%">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- formulaire des timbres postes  -->
        <tr *ngFor="let estamp of estamps">
          <td>
            <img
              src="http://localhost:3000/{{ estamp.photo }}"
              style="height: 100px; width: 100px"
            />
          </td>
          <td>{{ estamp?.reference }}</td>
          <td>{{ estamp?.sujet }}</td>
          <td>{{ estamp?.QunatityEstampDisponible }}</td>
          <td>
            <!-- <button class="btn btn-danger" (click)="supprimerEstamps(estamp._id)" >supprimer</button> -->

            <button
              type="button"
              class="btn btn-success btn-rounded btn-icon mdi mdi-lead-pencil"
              routerLink="/home/updateEstamp/{{ estamp._id }}"
              style="height: 40px; width: 63px"
            ></button>

            <button
              type="button"
              class="btn btn-info btn-rounded btn-icon mdi mdi-check-all"
              (click)="validateEstamp(estamp)"
              style="height: 40px; width: 63px"
            ></button>

            <button
              type="button"
              (click)="supprimerEstamps(estamp._id)"
              class="btn btn-danger btn-rounded btn-icon mdi mdi-delete-sweep"
              style="height: 40px; width: 63px"
            ></button>
          </td>
        </tr>

        <tr *ngFor="let fleur of fleurs" style="background-color: #e2e8ef">
          <td>
            <img
              src="http://localhost:3000/{{ fleur?.photo }}"
              style="height: 100px; width: 100px"
            />
          </td>
          <td>{{ fleur?.nom }}</td>
          <td>{{ fleur?.description }}</td>

          <td>{{ fleur?.QunatityEfleurDisponible }}</td>
          <td>
            <!-- <button class="btn btn-danger" (click)="supprimer(fleur._id)">supprimer</button> -->
            <button
              type="button"
              class="btn btn-success btn-rounded btn-icon mdi mdi-lead-pencil"
              routerLink="/home/updateEfleur/{{ fleur._id }}"
              style="height: 40px; width: 63px"
            ></button>

            <button
              type="button"
              class="btn btn-info btn-rounded btn-icon mdi mdi-check-all"
              (click)="validateEfleur(fleur)"
              style="height: 40px; width: 63px"
            ></button>

            <button
              type="button"
              (click)="supprimer(fleur._id)"
              class="btn btn-danger btn-rounded btn-icon mdi mdi-delete-sweep"
              style="height: 40px; width: 63px"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
